*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar
{
  display: flex;
  flex-direction: row;
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
  justify-content: space-between;
}

.Navbar .link a
{
  padding: 10px 30px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.Home
{
  max-width: 70%;
  margin: 0px auto;
  padding: 20px;
}

.Home h1{
  margin-top: 60px;
}